.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.header-title {
  font-family: 'Funnel Display', sans-serif;
  margin: 0;
  padding: 0;
}

.header-title-level-1 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.header ~ .header {
  .header-title-level-1 {
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.header-side-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
}