@use '../../styles/_includes.scss' as *;

.prompt-details-panel {
  $vertical-padding: 1rem;

  left: 50%;
  transform: translate(-50%, -110%);

  &.visible {
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 340ms ease-out;
  }

  &.hidden {
    left: 50%;
    transition: transform 280ms ease-in;
    transform: translate(-50%, 110%);
  }

  h2 {
    font-family: 'Funnel Display', sans-serif;
    @include font-medium;
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding: 0;
  }
}

.prompt-details-prompt {
  max-height: 12rem;
  @include font-small;
  border: 1px solid var(--muted);
  border-radius: var(--border-radius);
  padding: var(--border-radius);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.prompt-details-prompt-expanded {
  max-height: 36rem;
}