@use '../../styles/_includes.scss' as *;

.prompt-box-foreign-object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include font-medium;

  &.muted {
    opacity: 0.25;
  }

  .prompt-box-info-properties {
    display: grid;
    grid-template-columns: auto 2rem;
    @include font-small;
  }

  .prompt-box-score-name {
    @include font-small;
  }

  .prompt-box-score-value {
    font-size: 1rem;
  }

  .prompt-box-score-value {
    font-weight: bold;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
  }

  .prompt-box-info-name {
    text-align: right;
    padding-right: 0.25rem;
  }

  .prompt-box-info-value {
    font-weight: bold;
  }

  .prompt-box-info-value-red {
    color: var(--red);
  }

  .prompt-box-info-value-green {
    color: var(--green);
  }
}