.info-panel {
  height: 24rem;
  max-height: 90vh;

  &.visible {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 340ms ease-out;
  }

  &.hidden {
    left: 50%;
    top: 50%;
    transition: transform 280ms ease-in;
    transform: translate(-50%, 100vh);
  }

  p {
    margin-left: 1rem;
  }
}