@use '../../styles/_includes.scss' as *;

.candidate-details-panel {
  $vertical-padding: 1rem;

  left: 50%;
  transform: translate(-50%, -110%);

  &.visible {
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 340ms ease-out;
  }

  &.hidden {
    left: 50%;
    transition: transform 280ms ease-in;
    transform: translate(-50%, 110%);
  }
}

.candidate-details-prompt {
  max-height: 12rem;
  @include font-small;
  border: 1px solid var(--muted);
  border-radius: var(--border-radius);
  padding: var(--border-radius);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.candidate-details-prompt-expanded {
  max-height: 36rem;
}