:root {
  --bg: #18181b;
  --bg-muted: #212124;
  --muted: #353130;
  --text: #f4f4f5;
  --text-muted: #a1a1aa;
  --shadow: none;
  --border-radius: 8px;
  --border-highlighted: #b3b3b2;
  --link-color: #6686e1;

  --red: #fb7185;
  --green: #10b981;

  p {
    color: var(--text-muted);
  }
}

html[data-theme="light"] {
  --bg: #f3f5fa;
  --bg-muted: #eef0f5;
  --muted: #b2b4b8;
  --text: #1b263d;
  --text-muted: #454c5b;
  --shadow: 0 20px 55px rgba(24, 39, 75, 0.14);
  --border-radius: 8px;
  --border-highlighted: #29395c;
  --link-color: #001aae;

  --red: #D2042D;
  --green: #009E60;

  p {
    color: var(--text-muted);
  }
}