:root {
  --bg: #171413;
  --bg-muted: #1c1918;
  --muted: #353130;
  --text: #d9d9d8;
  --shadow: none;
  --border-radius: 8px;
  --border-highlighted: #b3b3b2;

  --red: #D2042D;
  --green: #009E60;
}

html[data-theme="light"] {
  --bg: #f3f5fa;
  --bg-muted: #eef0f5;
  --muted: #b2b4b8;
  --text: #1b263d;
  --shadow: 0 20px 55px rgba(24, 39, 75, 0.14);
  --border-radius: 8px;
  --border-highlighted: #29395c;

  --red: #D2042D;
  --green: #009E60;
}