@use '../../styles/_includes.scss' as *;

.header {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-bottom: 1rem;
  user-select: none;
}

.header-title {
  font-family: 'Funnel Display', sans-serif;
  margin: 0;
  padding: 0;
  flex: 0 1 auto;
}

.header-title-clickable {
  cursor: pointer;
}

.header-title-level-1 {
  @include font-big;
  font-weight: 500;
  line-height: 1;
}

.header~.header {
  .header-title-level-1 {
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.header-toolbar {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: flex-end;
}