@use '../../styles/_includes.scss' as *;

.panel {
  $vertical-padding: 1rem;

  border: 1px solid var(--muted);
  border-radius: var(--border-radius);
  background-color: var(--bg-muted);
  position: fixed;
  bottom: 0;
  top: $vertical-padding * 2;
  width: 90vw;
  max-width: 960px;
  height: calc(100vh - $vertical-padding * 4);
  z-index: 7;
  box-shadow: var(--shadow);
  @include font-medium;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  .panel-header {
    font-family: 'Funnel Display', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0;
    border-bottom: 1px solid var(--muted);
    position: sticky;
    top: 0;
    padding: calc(var(--border-radius) * 1.5) calc(var(--border-radius) * 2);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .panel-header-title {
    flex: 1;
  }

  .panel-content {
    padding: calc(var(--border-radius) * 1.5) calc(var(--border-radius) * 2);
    overflow-y: auto;
    flex: 1;
  }

  h1 {
    font-family: 'Funnel Display', sans-serif;
    @include font-big;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    font-weight: 500;
    line-height: 1;
  }

  h2 {
    font-family: 'Funnel Display', sans-serif;
    @include font-medium;
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding: 0;
  }
}