@use '../../styles/_includes.scss' as *;

.prompt-box-foreign-object {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include font-medium;

  &.muted {
    opacity: 0.25;
  }

  .prompt-box-info-score {
    font-size: 1rem;
  }
}