:root {
  --bg: #f3f5fa;
  --bg-muted: #dfe1e6;
  --muted: #b2b4b8;
  --muted-rgb: 178, 180, 184;
  --text: #3c414e;
  --shadow: 0 20px 55px rgba(24, 39, 75, 0.14);
  --border-radius: 8px;

  --red: #D2042D;
  --green: #009E60;
}